[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
decorate-all-methods = "*"
flake8 = "*"
autoflake = "*"
epc = "*"
importmagic = "*"
python-language-server = {extras = ["all"], version = "*"}
ptvsd = ">=4.2"
pylint = "*"
pytest-dependency = "*"

[requires]
python_version = "3.8"
